@model MVC.Models.VehicleModelView

@{
    ViewBag.Title = "Delete";
}

<br>
<div class="panel panel-danger">
    @* PANEL-HEADING *@
    <div class="panel-heading">

        <h2>Delete this item?</h2>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="panel-body" align="center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Make.Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Make.Id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Abrv)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Abrv)
                </dd>

            </dl>


            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index", null, new{@class="btn btn-default" })
            </div>

        </div>
    }

