@model MVC.Models.VehicleMakeView
@{
    ViewBag.Title = "Delete";
}

<br>
<div class="panel panel-danger">
    @* PANEL-HEADING *@
    <div class="panel-heading">

        <h2>Delete this item?</h2>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="panel-body">
            <dl class="dl-horizontal" align="center">
                <dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>

                <dd align="left">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd align="left">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Abrv)
                </dt>

                <dd align="left">
                    @Html.DisplayFor(model => model.Abrv)
                </dd>

            </dl>


            <div align="center">
                <input type="submit" value="Delete" class="btn btn-danger" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>

        </div>
}
